.dashboard{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.header{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #407EBE;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}



